
@{
    ViewBag.Title = "Magarpatta City Pune";
}

<div id="chartContainer"></div>

<script type="text/javascript">

    $(function () {
        var chart = new CanvasJS.Chart("chartContainer", {
            animationEnabled: true,
            title: {
                text: "CO2 emission comparision by City"
            },
            axisY: {
                title: "Food Wasted (in kg)",
                valueFormatString: "#0.",
            },
            axisX: {
                interval: 1,
                intervalType: "month"
            },
            dataPointWidth: 30,
            data: [
            {
                type: "stackedColumn",
                legendText: "Unutilized",
                valueFormatString: "#0kg",
                name: "Unutilized",
                    showInLegend: true,
                    xValueFormatString: "MMM-YYYY",
                    yValueFormatString: "#0kg",
                dataPoints: @Html.Raw(ViewBag.DataPoints1)

                },
                {
                    type: "stackedColumn",
                    name: "Wasted",
                    showInLegend: true,
                    xValueFormatString: "MMM-YYYY",
                    yValueFormatString: "#0kg",
                    indexLabelPlacement: "outside",
                    indexLabel: "#total kg",
                    dataPoints: @Html.Raw(ViewBag.DataPoints2)
                }]

                //You can add dynamic data from the controller as shown below. Check the controller and uncomment the line which generates dataPoints.
                //dataPoints: @Html.Raw(ViewBag.DataPoints2),

        });
        chart.render();
    });
</script>