
@{
    ViewBag.Title = "Stacked Column Chart";
}

<div id="chartContainer"></div>

<script type="text/javascript">

    $(function () {
        var chart = new CanvasJS.Chart("chartContainer", {
            animationEnabled: true,
            title: {
                text: "Daily CO2 emission"
            },
            axisY: {
                title: "Food Wasted (in kg)",
                valueFormatString: "#0.",
            },
            axisX: {
                interval: 1,
                intervalType: "day"
            },

            data: [
            {
                type: "stackedColumn",
                legendText: "Unutilized",
                valueFormatString: "#0kg",
                indexLabelFormatString: "#0kg",
                name: "Unutilized",
                showInLegend: "true",
                dataPoints: [{ "Y": 9.0, "Label": 30 }, { "Y": 5.0, "Label": 29 }, { "Y": 29.0, "Label": 28 }, { "Y": 11.0, "Label": 27 }, { "Y": 5.0, "Label": 26 }, { "Y": 12.0, "Label": 25 }, { "Y": 23.0, "Label": 24 }, { "Y": 10.0, "Label": 23 }, { "Y": 10.0, "Label": 22 }, { "Y": 10.0, "Label": 21 }, { "Y": 10.0, "Label": 20 }]

                //You can add dynamic data from the controller as shown below. Check the controller and uncomment the line which generates dataPoints.
                
            }, {
                type: "stackedColumn",
                legendText: "Wasted",
                showInLegend: "true",
                indexLabel: "#total kg",
                valueFormatString: "#0kg",
                indexLabelFormatString: "#0kg",
                indexLabelPlacement: "outside",
                dataPoints: [{ "Y": 10.0, "Label": 30 }, { "Y": 10.0, "Label": 29 }, { "Y": 20.0, "Label": 28 }, { "Y": 28.0, "Label": 27 }, { "Y": 9.0, "Label": 26 }, { "Y": 8.0, "Label": 25 }, { "Y": 27.0, "Label": 24 }, { "Y": 10.0, "Label": 23 }, { "Y": 10.0, "Label": 22 }, { "Y": 10.0, "Label": 21 }, { "Y": 10.0, "Label": 20 }]

                //You can add dynamic data from the controller as shown below. Check the controller and uncomment the line which generates dataPoints.
                

            }
            ]
        });
        chart.render();
    });
</script>