@{
    ViewBag.Title = "Render Data From Database";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <div class="alert alert-danger" style="margin:1%;">Could not connect to the database. Please check if you have SQL Express installed on the machine - if not, try installing the same.</div>
</body>
</html>
